/*Reset*/

/* CSS Document */



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;

	padding: 0;

	border: 0;

	outline: 0;

	font-size: 100%;

	vertical-align: baseline;

	background: transparent;

}

body {

	line-height: 1;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

}



/* remember to define focus styles! */

:focus {

	outline: 0;

}

a {
	text-decoration: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {

	border-collapse: collapse;

	border-spacing: 0;

}











/*Style for the Pet website*/

body {
	/*background-image: url("../img/pet/bluepaw.jpg");*/
	background-attachment: fixed;
	background-color:#e5e5e5;
}

.container {
	width:1020px;
	height:2675px;
	/*background-color:#ffffbf;*/
	margin-left: auto;
	margin-right: auto;
	background-color:white;
}

.caption {
	width: 500px;
	height: 26px;
}

/* header */

#header{
	height:147px;
	width:1020px;
	margin:0 auto 0 auto;
	background-color:#e5e5e5;
	/*background-color: #990033;*/
}

#pet_logo{
	width: 383px;
	height: 105px;
	float:left;	
}

#pet_tagline{
	width:289px;
	height:52px;
	float:right;
	padding:0px;
	margin:38px 0 10px 0;
}
/* navigation */

#navigation{
	float:right;
	text-align:center;
	width:1020px;
	background-image: url("../img/pet/nav-bkg.jpg");
	background-repeat:repeat-x;
	height:25px;
}

#navigation ul li{
	display: inline;
	font-family:"Franklin Gothic Book"; "Arial"; "Helvetica"; sans-serif;
	font-size: 15px;
	float:right;
	padding:5px 20px;
	border-left: 1px #e5e5e5 solid;
}

#navigation ul a{
	color:#001648;
}

#navigation ul li:hover{
	/*background-image: url("../img/pet/nav-hover-bkg.jpg");
	background-repeat:repeat-x;*/
	background-image: url("../img/pet/nav-hover-bkg.jpg");
	background-repeat:repeat-x;
}

/* body */

.container #welcome{
	height:460px;
	width:1020px;
	/*background-color:#94c947;*/
	margin:0px;
	padding:0px;
	background-color:transparent;
	/*-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;*/
}

.container #product{
	background-color:transparent;
	height:450px;
	width:1000px;
	margin-top:25px;
	background-color:white;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

#prodLeft{
	width:500px;
	height:450px;
	float:left;
	text-align:left;
	font-family: "Franklin Gothic Book", "Arial", "Helvetica", sans-serif;
	font-size:12px;
	color:#001648;
}

#prodRight{
	width:400px;
	height:390px;
	float:right;
	color:#94c947;
	margin-top:25px;
	padding-right:15px;
}

#prodRight a{
	font-family: "Franklin Gothic Book", "Arial", "Helvetica", sans-serif;
	color:#001648;
	font-size:15px;
}

#prodRight a:hover{
	color:#94c947;
}

/*crazy stuff for tool tip*/

#iconImage{
	width:50px;
	height:50px;
	margin:5px auto;
}

#tip { 
    background-image:url("../img/hover-image_brandy");
	display:none; 
    font-size:12px; 
  	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	width:268px;
	height:115px;
	z-index:100;
	padding: 25px;
}

/*end crazy stuff for tool tip*/

.container #about{
	height:470px;
	width:967px;
	margin:50px auto 0 auto;
	background-color:transparent;
	/*border: 1px solid #001648;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
}

.made_in_usa{
	margin:0 auto 30px auto;
	height:19px;
	width:989px;
	background: url("../img/pet/usa_made.png");
	padding:5px;
	size:12pt;
}

.made_in_usa a{
	font-style:italic;
	color:#94c947;
	font-family:"Franklin Gothic Demi", "Arial Bold", "Helvetica Bold", sans serif;
}

.made_in_usa a:hover{
	font-style:italic;
	color:#ffff00;
	font-family:"Franklin Gothic Demi", "Arial Bold", "Helvetica Bold", sans serif;
}

#about_text{
	height:175px;
	width:375px;
	float:left;
	padding:5px 5px 0 10px;
	margin-top:20px;
	font-family:"Franklin Gothic Book", "Arial", "Helvetica", Sans-serif;
	overflow-y:scroll;
	overflow-x:hidden;
}

#about_text::-webkit-scrollbar{
	width:10px;
	height:15px;
}

#about_text::-webkit-scrollbar-track-piece{
	width:2px;
}

#about_text::-webkit-scrollbar-track{
	background-color:#001648;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#about_text::-webkit-scrollbar-thumb{
	background-color:#94c947;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#about_text h1{
	font-family:"Franklin Gothic Demi Cond";
	color:#94c947;
	font-size:35px;
}

#about_text h2{
	font-family:"Times", "Times New Roman", serif;
	color:#001648;
	font-size:15px;
}

#about_text a{
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	color:#001648;
	font-size:20px;
}

#about_text a:hover {	
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	color:#94c947;
	font-size:20px;
}

#about_text a:select{
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	color:#ffff00;
	font-size:20px;
}

/* main product images */

.small_image{
	height:110px;
	width:520px;
	float:right;
	position:relative;
	margin-bottom:5px;
	background-color:#94c947;
}

.small_image-2{
	height:221px;
	width:256px;
	float:right;
	position:relative;
	margin-bottom:5px;
	background-color:#001648;
}

.small_image-3{
	height:220px;
	width:260px;
	float:right;
	position:relative;
	margin-bottom:5px;
	margin-left:5px;
	background-color:#ffff00;
}

.large_image{
	height:325px;
	width:500px;
	float:right;
}

.slideshow { 
	height:325px;
	width:500px;
	float:left;
	margin-top:25px;
}

#text_box{
	height:175px;
	width:390px;
	float:left;
	position:relative;
	margin:10px 0 25px 10px;
}
/* bed thumbs */

.scrollable{
	height:150px;
	margin:10px auto 0 auto;
	width:1020px;
	overflow: hidden;
}

.scrollableTitle{
	height:20px;
	width:1020px;
	margin:0;
	font-family:"Franklin Gothic Book"; "Arial"; "Helvetica"; sans-serif;
	text-align: left;
	background-image:url("../img/pet/title-bkg.png");
	background-repeat:repeat-x;
	padding-left:25px;
	vertical-align:bottom;
}

a.browse {
	background: url("../img/pets/hori_large.png") no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:-55px 10px 0 20px;
	cursor:pointer;
	font-size:1px;
	position:absolute;
	z-index: 9999;
}

/* right */
a.right 	{ background-position: 0 -30px; clear:right; margin-right: 0px; left:520px;}
a.right:hover 	{ background-position:-30px -30px; }
a.right:active  	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; left:15px;} 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }


/* disabled navigational button */

a.disabled {
visibility:hidden !important;		
}

.bed_thumbs{
	width:97px;
	height:97px;
	padding-left:27px;
	float:left;
}

.bed_thumbs #text{
	font-family: "Franklin Gothic Cond", "Arial Narrow", sans-serif;
	color:#001648;
	size:9px;
	height:11px;
}

#image_caption {	
	height:120px;
	width:390px;
	margin:10px 0px 10px 0;
	font-family: "Times", "Times New Roman", serif;
	font-style:normal;
	float:left;
/*	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-box-shadow: inset 0 -10px 5px rgba(0,0,0,0.3);  
	
		Scrollbar of image caption*/
}
/* Scrollbar of image caption
#image_caption::-webkit-scrollbar{
	width:10px;
	height:15px;
}

#image_caption::-webkit-scrollbar-track-piece{
	width:2px;
}

#image_caption::-webkit-scrollbar-track{
	background-color:#001648;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
}

#image_caption::-webkit-scrollbar-thumb{
	background-color:#94c947;
	border-radius:10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/

#image_caption h1{
	font-family:"Franklin Gothic Medium Cond", "Arial", "Helvetica", sans-serif;
	color:#007083;
	font-size:20px;
}

#image_caption h2{
	font-family:"Times New Roman", "Times", serif;
	color:#001648;
	font-size:15px;
}

#image_caption h3{
	font-family:"Times New Roman", "Times", serif;
	color:#007083;
	font-size:12px;
	font-style:italic;
}


.imgWrap{
	height:324px;
	width:498px;
	float:left;
	margin:25px 25px 25px; 25px;
}


/* simple overlay */

.simple_overlay {
	display:none;
	z-index:9999;	
	min-height:200px;
}

.simple_overlay i{
	color:#999;
}

.simple_overlay#dims .close {
	background-image: url("../img/overlay_close.png");
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	height:25px;
	width:35px;
}

.simple_overlay#dims {
	position:absolute;
	z-index:9999;
	width:525px;
	height:350px;
	background-color:#FFF;
	-webkit-box-shadow:5px 5px 5px #666;
	-moz-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
}

.simpleOverlayWrap {
	width:auto;
	height:auto;
	margin:10px;
	float:left;
}

.entry_overlay {
	display:none;
	z-index:10000;
	width:500px;	
	min-height:200px;
	background-color: #CF0;
	border:#CCC solid 3px;
	text-align: left;
}

.entry_overlay .close {
	background-image: url("../img/overlay_close.png");
	position:absolute;
	right: 15px;
	top:5px;
	cursor:pointer;
	height:25px;
	width:35px;
}

/* contact css */

#contactFormWrap {
	text-align:right;
	background-image: url("../img/notebookpaper.png");
	background-position: top center;
	background-repeat:no-repeat;
	margin-right:20px;
	margin-top:25px;
	height: 600px;
	width: 380px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:17px;
	float: right;
	padding:50px 100px;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

#contact-form .buttonSubmit {
	float: left;
	clear: both;
	background-color: #007083;
	font-size: 15px;
	font-weight: bold;
	color: #ffff00;
	margin: 0px 0 3px 0;
	border-color:#007083;	
}

#contact-form .buttonSubmit:hover {
	background-color:#1891a7;
}

#contact-form .buttonSubmit:active {
	background-color:#11606e;
}
	
.MsgSent {
	background-color: #ffff00;
	padding: 10px 20px;
	width: 200px;
	border: 3px solid #9F9;
	border-radius: 15px;
	text-align: center;
}

.MsgSent h2 {
	font-family: 'Franklin Gothic Demi', sans-serif;
	font-size: 30px;
}

.MsgSent p {
	font-size:15px;
}

.footer{
	margin-top: 15px;
	height:30px;
	width:1000px;
	padding:5px;
	font-size:12px;
	text-align:center;
	font-family:"Times", serif;
	color:#001648;
	/*background-color:#001648;*/
	margin-bottom:100px;
	margin-left: auto;
	margin-right: auto;
}

/*slide*/

#slide-bkg {
	width:980px;
	height:340px;
	position:relative;
	margin: 10px auto;
}

.wrapper {
	width: 966px;
	height:470px;
	overflow:hidden;
	position:absolute;
	z-index:15;
	margin:0 auto;
}

.slides {
	position: absolute;
	width: 967px;
	height:370px;
}


#prevBtn, #nextBtn{
	position:absolute;
	text-indent:-9999px;
	float:left;
	top:15px;
	left:15px;
}

#nextBtn{
	left: 940px;
}

#prevBtn a {  
	display:block;
	width:10px;
	height:12px;
	background: url("../img/images/arrows_01.png") no-repeat 0 0;
	top: 15px;
	right: 15px;
}	

#nextBtn a{ 
	display:block;
	background: url("../img/images/arrows_02.png") no-repeat 0 0;
	top: 15px;
	left: 940px;
	width:10px;
	height:12px;
}	
	
#nextBtn a:hover, #prevBtn a:hover{
	background-position:0 -12px;
}

.pagination {
	width:967px;
	height: 125px;
	float:left;
	position:absolute;
	/*background-color:#94c947;*/
	font-family:"Franklin Gothic Demi", "Arial", "Helvetica", sans-serif;
	font-size:15px;
	top:330px;
}

.pagination ul{
	padding-top: 14px;
}

.pagination li {
	z-index: 400;
	display:inline;
}

.pagination li a{
	text-decoration:none;
	color:#001648;
}

.pagination li a:hover {
	color:#94c947;
}

.pagination li a:active{
	background-color:#333;
	color:#CCC;
}

/*hover shenanigans*/


.constants{
	font-family: "Times", "Times New Roman", "Garamond", serif;
	color:black;
	font-size:12px;
}

.constants a img {
	height: 0;
	width: 0;
	border-width: 0;
}

.constants a {
	display:block;
	padding-top: 50px;
}

.constants a:hover img {
	position: relative;
	top: -260px;
	left: -75px;
	height: 200px;
	width: 200px;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

.icon {
	float: left;
	width: 70px;
	height: 79px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right:10px;
}

.iconWrap{
	width:325px;
	height:90px;
	float:left;
}

.iconWrap h1{
	font-family:"Franklin Gothic Book", "Arial", "Helvetica", sans serif;
	font-size:12px;
	line-height:20px;
	font-style:normal;
	color:#001648;
}

.iconWrap h2{
	font-family:"Garamond", "Times", "Times New Roman", serif;
	font-size:12px;
	font-style:italic;
	color:#001648;
	text-align:center;
	line-height:13px;
}

#mission{
	position:absolute;
	z-index:418;
	width:287px;
	height:163px;
	background-color:#ffffcc;
	margin:106px 10px 10px 30px;
	padding:5px;
	font-family:"Garamond", "Times", "Times New Roman", serif;
	color:#001648;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

#usaMade{
	position:absolute;
	z-index:418;
	width:353px;
	height:163px;
	background-color:white;
	margin:130px 10px 10px 583px;
	padding:5px;
	font-family:"Garamond", "Times", "Times New Roman", serif;
	color:#001648;
	overflow-y:scroll;
}

#usaMade::-webkit-scrollbar{
	width:10px;
	height:15px;
}

#usaMade::-webkit-scrollbar-track-piece{
	width:2px;
}

#usaMade::-webkit-scrollbar-track{
	background-color:#ccc;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#usaMade::-webkit-scrollbar-thumb{
	background-color:#001648;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#construction{
	position:absolute;
	z-index:418;
	width:350px;
	height:145px;
	margin:147px 10px 10px 590px;
	padding:5px;
	font-family:"Garamond", "Times", "Times New Roman", serif;
	color:black;
}

.paginationImage{
	width:255px;
	height:100px;
	float:left;
	margin-right:25px;
}

.paginationImageSmall{
	width:127px;
	height:100px;
	float:left;
}

.pawdecoration{
	width:1000px;
	height:50px;
	margin:5px auto;
}
