/*Reset*/

/* CSS Document */



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;

	padding: 0;

	border: 0;

	outline: 0;

	font-size: 100%;

	vertical-align: baseline;

	background: transparent;

}

body {

	line-height: 1;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

}



/* remember to define focus styles! */

:focus {

	outline: 0;

}

a {
	text-decoration: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {

	border-collapse: collapse;

	border-spacing: 0;

}











/*Style for the Pet website*/

body {
	background-image: url("../img/pet/bluepaw.jpg");
	background-attachment: fixed;
}

.container {
	width:1100px;
	height:2430px;
	background-color:#ffffbf;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
}

.caption {
	width: 500px;
	height: 26px;
}

/* header */

#header{
	height:122px;
	width:1000px;
	margin:0 auto 0 auto;
	/*background-color: #990033;*/
}

#pet_logo{
	width: 383px;
	height: 118px;
	float:left;	
}

#pet_tagline{
	width:400px;
	height:99px;
	float:right;
	padding:0px;
	margin:0px;
}
/* navigation */

#navigation{
	float:right;
	/*background-color:white;*/
	padding:0px;
	margin:0px;
	text-align:left;
}

#navigation ul li{
	display: inline;
	font-family:"Franklin Gothic Demi Cond"; "Arial Cond"; "Helvetica"; sans-serif;
	padding-left: 65px;
	font-size: 20px;
	float:right;
}

#navigation ul li a{
	color:#001648;
}

#navigation ul li a:hover{
	font-family:"Franklin Gothic Demi Cond"; "Arial Cond"; "Helvetica"; sans-serif;
	color:#94c947;
}

/* body */

.container #welcome{
	height:353px;
	width:1000px;
	background-color:#94c947;
	margin-bottom:0px;
	margin-top:35px;
	padding:25px 0 0 25px;
	width:950px;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

.container #product{
	height:450px;
	width:1000px;
	background-color:white;
	margin-top:25px;
	margin-bottom:0px;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

.container #about{
	height:380px;
	width:948px;
	margin:50px auto 0 auto;
	padding:25px 25px 0 25px;
	/*background-color:#ffff64;
	border: 1px solid #001648;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
}

.made_in_usa{
	margin:0 auto 30px auto;
	height:19px;
	width:989px;
	background: url("../img/pet/usa_made.png");
	padding:5px;
	size:12pt;
}

.made_in_usa a{
	font-style:italic;
	color:#94c947;
	font-family:"Franklin Gothic Demi", "Arial Bold", "Helvetica Bold", sans serif;
}

.made_in_usa a:hover{
	font-style:italic;
	color:#ffff00;
	font-family:"Franklin Gothic Demi", "Arial Bold", "Helvetica Bold", sans serif;
}

#about_text{
	height:175px;
	width:375px;
	float:left;
	padding:5px 5px 0 10px;
	margin-top:20px;
	font-family:"Franklin Gothic Book", "Arial", "Helvetica", Sans-serif;
	overflow-y:scroll;
	overflow-x:hidden;
}

#about_text::-webkit-scrollbar{
	width:10px;
	height:15px;
}

#about_text::-webkit-scrollbar-track-piece{
	width:2px;
}

#about_text::-webkit-scrollbar-track{
	background-color:#001648;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#about_text::-webkit-scrollbar-thumb{
	background-color:#94c947;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#about_text h1{
	font-family:"Franklin Gothic Demi Cond";
	color:#94c947;
	font-size:35px;
}

#about_text h2{
	font-family:"Times", "Times New Roman", serif;
	color:#001648;
	font-size:15px;
}

#about_text a{
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	color:#001648;
	font-size:20px;
}

#about_text a:hover {	
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	color:#94c947;
	font-size:20px;
}

#about_text a:select{
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	color:#ffff00;
	font-size:20px;
}

/* main product images */

.small_image{
	height:100px;
	width:410px;
}

.small_image #berg_website{
	-webkit-box-shadow:0px 0px 15px #666;
	-moz-box-shadow:0px 0px 15px #666;
	box-shadow:0px 0px 15px #666;
	float:left;
	position:relative;
	margin-left:10px;
}

.large_image{
	height:325px;
	width:500px;
	float:right;
}

.slideshow { 
	height:325px;
	width:500px;
	float:right;
}

#text_box{
	height:175px;
	width:390px;
	float:left;
	position:relative;
	margin:10px 0 25px 10px;
}
/* bed thumbs */

.scrollable{
	height:117px;
	margin:0 auto 0 auto;
	width:1000px;
	overflow: hidden;
}

a.browse {
	background: url("../img/pets/hori_large.png") no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:-55px 10px 0 20px;
	cursor:pointer;
	font-size:1px;
	position:absolute;
	z-index: 9999;
}

/* right */
a.right 	{ background-position: 0 -30px; clear:right; margin-right: 0px; left:520px;}
a.right:hover 	{ background-position:-30px -30px; }
a.right:active  	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; left:15px;} 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }


/* disabled navigational button */

a.disabled {
visibility:hidden !important;		
}

.bed_thumbs{
	width:97px;
	height:97px;
	padding-left:25px;
	float:left;
}

.bed_thumbs #text{
	font-family: "Franklin Gothic Cond", "Arial Narrow", sans-serif;
	color:#001648;
	size:10px;
	height:11px;
}

#image_caption {	
	height:175px;
	width:390px;
	margin:25px 30px 25px 25px;
	font-family:"Times New Roman", "Times", serif;
	float:right;
/*	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-box-shadow: inset 0 -10px 5px rgba(0,0,0,0.3);  
	
		Scrollbar of image caption*/
}
/* Scrollbar of image caption
#image_caption::-webkit-scrollbar{
	width:10px;
	height:15px;
}

#image_caption::-webkit-scrollbar-track-piece{
	width:2px;
}

#image_caption::-webkit-scrollbar-track{
	background-color:#001648;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
}

#image_caption::-webkit-scrollbar-thumb{
	background-color:#94c947;
	border-radius:10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/

#image_caption h1{
	font-family:"Franklin Gothic Medium Cond", "Arial", "Helvetica", sans-serif;
	color:#007083;
	font-size:20px;
}

#image_caption h2{
	font-family:"Times New Roman", "Times", serif;
	color:#001648;
	font-size:15px;
}

#image_caption h3{
	font-family:"Times New Roman", "Times", serif;
	color:#007083;
	font-size:12px;
	font-style:italic;
}


.imgWrap{
	height:324px;
	width:498px;
	float:left;
	margin:25px 25px 25px; 25px;
}


/* simple overlay */

.specifications{
	width:1000px;
	height:40px;
	margin-top:5px;
	float:left;
	background:#94c947;
}

.specifications #wrap{
	height:30px;
	width:300px;
	margin-left:25px;
	padding-top:10px;
	float:left;
	text-align:center;
	font-family: "Franklin Gothic Demi Cond", "Arial", "Helvetica", sans-serif;
	font-size:20px;
}

.specifications #wrap a{
	color:#001648;
	vertical-align:middle;
}

.specifications #wrap a:hover{
	color:#94c947;
}

/* overlay */

.simple_overlay {
	display:none;
	z-index:9999;	
	min-height:200px;
}

.simple_overlay i{
	color:#999;
}

.simple_overlay#mattressCover .close {
	background-image: url("../img/overlay_close.png");
	position:absolute;
	right: 1px;
	top:5px;
	cursor:pointer;
	height:25px;
	width:35px;
}

.simple_overlay#dims .close {
	background-image: url("../img/overlay_close.png");
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	height:25px;
	width:35px;
}

.simple_overlay#finishes .close {
	background-image: url("../img/overlay_close.png");
	position:absolute;
	right: -2px;
	top:3px;
	cursor:pointer;
	height:25px;
	width:35px;
}

.simple_overlay#finishes {
	position:absolute;
	z-index:9999;
	right:-476px;
	width:475px;
	height:188px;
	background-color:#FFF;
	-webkit-box-shadow:5px 5px 5px #666;
	-moz-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
}

.simple_overlay#dims {
	position:absolute;
	z-index:9999;
	right:-476px;
	width:525px;
	height:350px;
	background-color:#FFF;
	-webkit-box-shadow:5px 5px 5px #666;
	-moz-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
}

.simpleOverlayWrap {
	width:auto;
	height:auto;
	margin:10px;
	float:left;
}

.simple_overlay#mattressCover {
	position:absolute;
	z-index:9999;
	right:-476px;
	width:448px;
	height:175px;
	padding:25px;
	background-color:#FFF;
	-webkit-box-shadow:5px 5px 5px #666;
	-moz-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
}

.simple_overlay_knob_title{
	width:400px;
	height:40px;
	font-family:"Franklin Gothic Demi Cond", "Arial", "Helvetica", san-serif;
	font-size: 35px;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px
}

.simple_overlay_knob_subtitle{
	width:775px;
	height:30px;
	font-family:"Lobster 1.4", "Times New Roman", Times, Serif;
	font-size: 25px;
	color: #FF3399;
	text-align: left;
	padding-left:10px;
	margin-bottom:5px;
}

.simple_overlay_knob_scontainer{
	height: 675px;
	width: 775px;
}

.simple_overlay_container{
	float:left;
	height:150px;
	margin:0 0 10px 10px;
	width:145px;
	font-family:"Arial", sans-serif;
	font-size: 12px;
	text-align:center;
}

.simple_overlay_container#knob_class{
	float:left;
	height:150px;
	margin:0 0 10px 10px;
	width:145px;
	font-family:"Lobster 1.4", sans-serif;
	font-size: 25px;
	text-align:right;
}

.simple_overlay_accent_title{
	width:700px;
	height:35px;
	font-family:"Lobster 1.4", "Times New Roman", Times, Serif;
	font-size: 30px;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px
}

.simple_overlay_accent_img{
	margin-bottom:5px;
}

.simple_overlay_accent_current{
	width:952px;
	height:480px;	
}

.simple_overlay_text#finishes {
	position:absolute;
	z-index:10000;
	top:566px;
	right:68px;
	font-family:"Lobster 1.4", "Times New Roman", Times, serif;
}

.entry_overlay {
	display:none;
	z-index:10000;
	width:500px;	
	min-height:200px;
	background-color: #CF0;
	border:#CCC solid 3px;
	text-align: left;
}

.entry_overlay .close {
	background-image: url("../img/overlay_close.png");
	position:absolute;
	right: 15px;
	top:5px;
	cursor:pointer;
	height:25px;
	width:35px;
}

.fabric_thumbs{
	width:97px;
	height:200px;
	padding-left:25px;
	float:left;
}

.fabric_thumbs #text{
	font-family: "Franklin Gothic Cond", "Arial Narrow", sans-serif;
	color:#001648;
	size:10px;
	height:11px;
	padding-left:0;
	position:relative;
}

.fabric #text{
	font-family: "Franklin Gothic Cond", "Arial Narrow", sans-serif;
	color:#001648;
	size:10px;
	height:50px;
	padding:25px;
	width:150px;
	height:30px;
	background-color:blue;
	position:relative;
}

.fabric_wrap{
	width:400px;
	height:97px;
	font-family:"Times New Roman", "Times", serif;
	color:#001648;
	font-size:15px;
}


/* contact css */

#contactFormWrap {
	text-align:right;
	background-image: url("../img/notebookpaper.png");
	background-position: top center;
	background-repeat:no-repeat;
	margin-right:50px;
	height: 600px;
	width: 380px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:17px;
	float: right;
	padding:50px 100px;
	-webkit-box-shadow:0px 0px 15px #000;
	-moz-box-shadow:0px 0px 15px #000;
	box-shadow:0px 0px 15px #000;
}

#contact-form .buttonSubmit {
	float: left;
	clear: both;
	background-color: #007083;
	font-size: 15px;
	font-weight: bold;
	color: #ffff00;
	margin: 0px 0 3px 0;
	border-color:#007083;	
}

#contact-form .buttonSubmit:hover {
	background-color:#1891a7;
}

#contact-form .buttonSubmit:active {
	background-color:#11606e;
}
	
.MsgSent {
	background-color: #ffff00;
	padding: 10px 20px;
	width: 200px;
	border: 3px solid #9F9;
	border-radius: 15px;
	text-align: center;
}

.MsgSent h2 {
	font-family: 'Franklin Gothic Demi', sans-serif;
	font-size: 30px;
}

.MsgSent p {
	font-size:15px;
}

.footer{
	margin-top: 15px;
	height:30px;
	width:1000px;
	padding:5px;
	font-size:12px;
	text-align:center;
	font-family:"Times", serif;
	color:white;
	background-color:#001648;
	margin-bottom:100px;
	margin-left: auto;
	margin-right: auto;
}
