/* CSS Document STORE LOCATOR */
table {
	font-size:inherit;
}

input {
	border:1px solid #C6C6C6;
	cursor:pointer;
}
a{
	color:#00008B;
}
.txtheader { 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:35px;
	font-weight:bold;
	margin-bottom:10px;
}
.txtsubheader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617; 
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
.txtsubheaderhr { 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	font-size:15px;
	font-weight:bold;
	margin-top:10px;	
	margin-bottom:10px;
	border-bottom:1px solid #c6c6c6;
}
.breadcrumbs{
	font-size:12px;
	margin-bottom:10px;
}
.searchtable {
	border:1px solid  #CCC;
	margin-top:10px;

}
.tableheader{
	/*background-image:url(images/silver_bgbar.jpg);*/
	border-bottom:1px solid #C1C1C1;
	background-repeat:repeat-x;
	padding:5px;
}
.tableheaderleft{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	background-image:url(images/silver_bgbar.jpg);
	border-bottom:1px solid #C1C1C1;
	text-align:left;
	padding-left:2px;
}


.innersearchtable th{
	text-align:left;
}
.searchfooter{
	font-size:12px;
	text-align:center
}
.error{
	font-weight: bold;
	padding-left: 0;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F0FF6B;
	text-align: center;
}
.maptable{
	margin-top:20px;
}
.maptable td{
	padding:2px;
}
.txtsubheader{
	font-size:18px;
	font-weight:bold;
	margin-bottom:5px;
	float:left;
}
.resultsdisplay1 ol{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	list-style-type:none;
	padding:0px;
	margin:auto 0px;
	position:absolute;
	top:296px;
	left:105px;
	width:250px;
}
.resultsdisplay1 li{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	margin-bottom:5px;
	font-size:14px;
}
.resultsdisplay1 a{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	text-decoration:none;
	margin: 0 auto;

}

.resultsdisplay2 td{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	font-size:14px;
}


.resultsdataitem {
	padding:2px;
	border:1px solid #CCCCCC;
	background-color:#F2EFE9;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	font-size:14px;
}

.mapwindow{
	/*color:#666666;*/
	font-size:14px;
	
}
.map {
	border:1px solid #CCCCCC;
	
}

#map {
	height: 500px;
}
.smalltxt{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #573617;
	font-size:small;
}
.altlink{
	color: #573617;
}
.altaltlink{
	color:purple;
}
.altaltaltlink{
	color:green;
}
.altrow{
	background-color:#F2EFE9;
}
.alttxt{
	color: #573617;
}
.hide{
	display:none;
}